<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style-header.css">
    <link rel="stylesheet" href="css/style-reset.css">
</head>
<body>
    
    <div class="cabecalho">
        <div class="logoCabecalho" > <a href="index.html"><img src="images/logoLoja.png" alt="Logo da Loja"></a></div>
        <div class="texto"> Market Distribuido </div>
        <ul class="opcoesMenu">
            <li> <a href="index.html"> <img src="images/home.png" alt="Botão Home"> </a></li>
            <li> <a href="carrinho.html"> <img src="images/carrinho.png" alt="Botão carrinho de Compras"> </a></li>
        </ul>
    </div>

</body>
</html>