<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style-header.css">
    <link rel="stylesheet" href="css/style-reset.css">
    <link rel="stylesheet" href="css/style-index.css">
    <title>Página Inicial</title>
</head>
<body>

 
    
    <div class="container" id="template-areas">
        <div class="cabecalho">
            <div class="logoCabecalho" > <a href="index.html"><img src="images/logoLoja.png" alt="Logo da Loja"></a></div>
            <div class="texto"> Market Distribuido </div>
            <ul class="opcoesMenu">
                <li> <a href="index.html"> <img src="images/home.png" alt="Botão Home"> </a></li>
                <li> <a href="carrinho.html"> <img src="images/carrinho.png" alt="Botão carrinho de Compras"> </a></li>
            </ul>
        </div>
        <div class="div-grid" id="pesquisa">
            <form id="form-pesquisa" onsubmit="pesquisarBanco()" method = "GET">
                <input type="text" name="barra-pesquisa" id="bpesquisa" placeholder="O que você deseja? ">
                <button id="buscar" type="submit"> Buscar </button>
            </form>
            
        </div>
        <div class="div-grid" id="conteudo">
            <div class="item-01" id="div1" onclick="enviaDados(this.id)"> <img  id="item-1" src="" alt=""> <p id="nome1"></p></div>
            <div class = "item" id="div2" onclick="enviaDados(this.id)"> <img  id="item-2" src="" alt=""><p id="nome2"></p></div>
            <div class = "item" id="div3" onclick="enviaDados(this.id)"> <img  id="item-3" src="" alt=""><p id="nome3"></p></div>
            <div class = "item" id="div4" onclick="enviaDados(this.id)"> <img  id="item-4" src="" alt=""><p id="nome4"></p></div>
            <div class = "item" id="div5" onclick="enviaDados(this.id)"> <img  id="item-5" src="" alt=""><p id="nome5"></p></div>
            <div class = "item" id="div6" onclick="enviaDados(this.id)"> <img  id="item-6" src="" alt=""><p id="nome6"></p></div>
            <div class = "item" id="div7" onclick="enviaDados(this.id)"> <img  id="item-7" src="" alt=""><p id="nome7"></p></div>
            <div class = "item" id="div8" onclick="enviaDados(this.id)"> <img  id="item-8" src="" alt=""><p id="nome8"></p></div>
            <div class = "item" id="div9" onclick="enviaDados(this.id)"> <img  id="item-9" src="" alt=""><p id="nome9"></p></div>
            <div class="item-110"  id="div10" onclick="enviaDados(this.id)">  <img  id="item-10" src="" alt=""><p id="nome10"></p></div>
            <div class = "item" id="div11" onclick="enviaDados(this.id)">  <img  id="item-11" src="" alt=""> <p id="nome11"></p> </div>
            <div class = "item" id="div12" onclick="enviaDados(this.id)">  <img  id="item-12" src="" alt=""> <p id="nome12"></p> </div>
            <div class = "item" id="div13" onclick="enviaDados(this.id)">  <img  id="item-13" src="" alt=""> <p id="nome13"></p> </div>
            <div class = "item" id="div14" onclick="enviaDados(this.id)">  <img  id="item-14" src="" alt=""> <p id="nome14"></p> </div>
            <div class = "item" id="div15" onclick="enviaDados(this.id)">  <img  id="item-15" src="" alt=""> <p id="nome15"></p> </div>
            <div class = "item" id="div16" onclick="enviaDados(this.id)">  <img  id="item-16" src="" alt=""> <p id="nome16"></p> </div>
            <div class = "item" id="div17" onclick="enviaDados(this.id)">  <img  id="item-17" src="" alt=""> <p id="nome17"></p> </div>
            <div class = "item" id="div18" onclick="enviaDados(this.id)">  <img  id="item-18" src="" alt=""> <p id="nome18"></p> </div>
        </div>
    </div>
</body>


<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script >
    function pesquisarBanco() {
        event.preventDefault()
        var nome = document.getElementById('bpesquisa').value;
        let um ="http://127.0.0.1:4000/produtos/"
        let dois ="http://127.0.0.1:5000/produtos/"
        let tres = "http://127.0.0.1:8000/produtos/"
        const requestUm = axios.get(um);
        const requestDois = axios.get(dois);
        const requestTres = axios.get(tres);
        axios.all([requestUm, requestDois,requestTres]).then(axios.spread((...responses) => {
                const respostaUm = responses[0]
                const respostaDois = responses[1]
                const respostaTres = responses[2]
                var lista_dados = Object.entries(respostaUm)
                var lista = Object.entries(lista_dados[0][1])
                var tamanho = lista.length
                for (var i=0; i<tamanho; i++){
                    var nome = lista[i][0]
                    var link = lista [i][1].linkImagem
                    var index = i+1
                    var preco = lista[i][1].preco
                    if (document.getElementById(`item-${index}`).value != null){
                        while (document.getElementById(`item-${index}`).value != null){
                            index+=1
                        }
                    }else {
                        document.getElementById(`item-${index}`).src = `${link}`
                        document.getElementById(`item-${index}`).value = `${lista[i]}`
                        document.getElementById(`div${index}`).value = `${nome}`
                        alteraNome(index, nome)
                    }
                    
                    aux = 0;
                }

                    
                
            })).catch(errors => {
                console.log(errors)
    })
}
    
    
            
        
    function alteraNome(index, nome){
        var texto = document.getElementById(`nome${index}`)
        texto.innerHTML = " "
        texto.innerHTML = texto.innerHTML + `${nome.toUpperCase()}`
    }

    function enviaDados(id) {
        var info = document.getElementById(`${id}`).value
        localStorage.setItem('informações', info)
        if (info != null){
            window.location.href = "./produto.html"
        } 
    }
                        


</script>
</html>