<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style-header.css">
    <link rel="stylesheet" href="css/style-reset.css">
    <link rel="stylesheet" href="css/style-index.css">
    <title>Página Inicial</title>
</head>
<body>

 
    
    <div class="container" id="template-areas">
        <div class="cabecalho">
            <div class="logoCabecalho" > <a href="index.html"><img src="images/logoLoja.png" alt="Logo da Loja"></a></div>
            <div class="texto"> Market Distribuido </div>
            <ul class="opcoesMenu">
                <li> <a href="index.html"> <img src="images/home.png" alt="Botão Home"> </a></li>
                <li> <a href="carrinho.html"> <img src="images/carrinho.png" alt="Botão carrinho de Compras"> </a></li>
            </ul>
        </div>
        <div class="div-grid" id="pesquisa">
            sidebar
        </div>
        <div class="div-grid" id="conteudo">
            <div id="item-1"> item 3</div>
            <div id="item-2"> item 1</div>
            <div id="item-3"> item 4</div>
            <div id="item-4"> item 5</div>
            <div id="item-5"> item 2</div>
            <div id="item-6"> item 6</div>
            <div id="item-7"> item 7</div>
            <div id="item-8"> item 8</div>
            <div id="item-9"> item 9</div>
            <div id="item-10"> item 10</div>
        </div>
        <div class="div-grid" id="rodape">
            rodapé
        </div>

    </div>
</body>
</html>