<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/Style-Header.css">
    <link rel="stylesheet" href="css/style-reset.css">
    <link rel="stylesheet" href="css/Style-Produto.css">
    <title> Produtos </title>
</head>
<body>
    <div class="cabecalho">
        <div class="logoCabecalho" > <a href="index.html"><img src="images/logoLoja.png" alt="Logo da Loja"></a></div>
        <div class="texto"> Market Distribuido </div>
        <ul class="opcoesMenu">
            <li> <a href="index.html"> <img src="images/home.png" alt="Botão Home"> </a></li>
            <li> <a href="carrinho.html"> <img src="images/carrinho.png" alt="Botão carrinho de Compras"> </a></li>
        </ul>
    </div>
    <div class="main">
        <h1>Produto x</h1>
        <div class="produto">
            <div class="ladoEsquerdo">
                <div class="imagem">
                    <!--Imagem aqui -->
                    <img src="https://cdn.shopify.com/s/files/1/0577/1247/6321/products/Camisa-titular-da-Selecao-Brasileira-2022-Nike-Home-kit-1.jpg?v=1659979258" alt="">
                </div>
            </div>
            <div class="ladoDireito">
                <div class="preco">
                    <h3>Por: </h3>
                    <h1>R$ XX,xx</h1>
                </div>

                <div class="quantidade">
                    <h3>Quantidade</h3>
                    <input value="1" max="6" min="1" type="number">
                </div>  

                <button>Adicionar ao Carrinho</button> 

            </div>
        </div>
    </div>
</body>
</html>